 #mybody {
    position: relative; 
  }

  #section0 {padding-top:50px;height:100%;color: #fff; background-color: #fff;   }
  #section1 {padding-top:50px;height:100%;color: #fff; background-color: #FDD20EFF;}
  #section2 {padding-top:50px;height:100%;color: #fff; background-color: #FF3EA5FF;}
  #section3 {padding-top:50px;height:100%;color: #fff; background-color: #963CBDFF;}
  #section4 {padding-top:50px;height:100%;color: #fff; background-color: #6DAC4FFF;}
  #section5 {padding-top:50px;height:100%;color: #fff; background-color: #006747FF;}
  #section61 {padding-top:50px;height:100%;color: #fff; background-color: #F95700FF;}
  #section62 {padding-top:50px;height:100%;color: #fff; background-color: #00A4CCFF;}
  .Nature    {padding:  5px; border: 5px solid #963CBDFF;}
  .Wedding2   {padding: 5px; border: 5px solid #FDD20EFF;}
  .StillLife  {padding: 5px; border: 5px solid #FF3EA5FF;}
  .Fashion    {padding: 5px; border: 5px solid #6DAC4FFF;}
  .carousel-inner img {
  width: 80%;  /* Set width to 100% */
  margin: auto;
 }

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 100px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
  h1{
  	text-align: center;
  	text-decoration-style: bold;
  }
  .btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-control {
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 365px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
} 	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}
.login-form form {
	color: #434343;
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h4 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}
.login-form .form-group {
	margin-bottom: 25px;
}
.login-form .form-control, .login-form .btn {
	min-height: 40px;
	border-radius: 2px; 
	transition: all 0.5s;
}
.login-form .close {
	position: absolute;
	top: 20px;
	right: 20px;
}
.login-form .btn, .login-form .btn:active {
	background: #4aba70 !important;
	border: none;
	line-height: normal;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #42ae68 !important;
}
.login-form .checkbox-inline {
	float: left;
}
.login-form input[type="checkbox"] {
	position: relative;
	top: 2px;
}
.login-form .forgot-link {
	float: right;
}
.login-form .small {
	font-size: 15px;
}
.login-form a {
	color: #4aba70;
}